@font-face {
  font-family: "iconfont";
  /* Project id 4592945 */
  src: url('iconfont.woff2?t=1719562506938') format('woff2'),
    url('iconfont.woff?t=1719562506938') format('woff'),
    url('iconfont.ttf?t=1719562506938') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  color: #606266;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhishikuchaxun:before {
  content: "\e623";
}

.icon-yunweirizhi:before {
  content: "\e624";
}

.icon-shishiquxian:before {
  content: "\e627";
}

.icon-xitongbaojing:before {
  content: "\e629";
}

.icon-wentipaisong:before {
  content: "\e62b";
}

.icon-gonggaotongzhi:before {
  content: "\e630";
}

.icon-dingqigongzuo:before {
  content: "\e631";
}

.icon-zuoyepiaotiaoyue:before {
  content: "\e633";
}

.icon-anquanchengnuo:before {
  content: "\e639";
}

.icon-baojingjilu:before {
  content: "\e63a";
}

.icon-gonggaotongzhi1:before {
  content: "\e63b";
}

.icon-daibanshixiang:before {
  content: "\e63c";
}

.icon-jianchachaxun:before {
  content: "\e63d";
}

.icon-gongzuoshikuang1:before {
  content: "\e63e";
}

.icon-dingqigongzuo1:before {
  content: "\e63f";
}

.icon-shishitu:before {
  content: "\e640";
}

.icon-shebeizhuangtai:before {
  content: "\e641";
}

.icon-zhibanbiao:before {
  content: "\e642";
}

.icon-baojingjilu1:before {
  content: "\e643";
}

.icon-anquanjiancha:before {
  content: "\e644";
}

.icon-richanggongzuo:before {
  content: "\e646";
}

.icon-fengxianjianguan:before {
  content: "\e647";
}

.icon-guanjianxinxi:before {
  content: "\e648";
}

.icon-shoucang:before {
  content: "\e667";
}

.icon-baoxiaozichan:before {
  content: "\e62a";
}

.icon-guizhangzhidu:before {
  content: "\e62d";
}

.icon-yusuanjisuan:before {
  content: "\e637";
}

.icon-kehuchaxun:before {
  content: "\e7e4";
}

.icon-qingdan5:before {
  content: "\e617";
}

.icon-qingdan6:before {
  content: "\e645";
}

.icon-shebeiqingdan:before {
  content: "\e666";
}

.icon-tubiao_mubiaoqingdan_mubiaoqingdan:before {
  content: "\e622";
}

.icon-shoujihao:before {
  content: "\e6b8";
}

.icon-yanzhengma:before {
  content: "\e6bf";
}

.icon-yonghu:before {
  content: "\e601";
}

.icon-mima:before {
  content: "\e620";
}

.icon-liebiaoqingdan:before {
  content: "\e62f";
}

.icon-xinwen:before {
  content: "\e635";
}

.icon-yuebaoribaozhoubao:before {
  content: "\e636";
}

.icon-xietongzhengce:before {
  content: "\e7ae";
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-fanhui:before {
  content: "\e700";
}

.icon-gerenxinxi:before {
  content: "\e6b3";
}

.icon-aixin:before {
  content: "\e621";
}

.icon-gengduo:before {
  content: "\e69b";
}

.icon-xuanxiang:before {
  content: "\e69f";
}

.icon-shouye-zhihui:before {
  content: "\e6cd";
}

.icon-qingdankushoucang:before {
  content: "\e62c";
}